body {
	margin: 0;
	padding: 0;
	background: #F5E8DC;
	font-size: 20px;
	font-family: '微软雅黑', '宋体', sans-serif;
	color: #5C4033;
	overflow: auto
}

a {
	color: #5C4033;
	font-size: 14px;
}

#main {
	width: 100%;
}

#wrap {
	position: relative;
	margin: 100px auto 0 auto;
	width: 90%;
	height: auto;
	max-width: 1100px;
}

#text {
	width: 90%;
        max-width: 400px;
        margin: 0 auto;
        position: relative;
        top: 0;
        left: 0;
        height: auto;
        z-index: 1;
}

#code {
	display: none;
	font-size: 1.4rem;
}

#clock-box {
	width: 90%;
        max-width: 400px;
        margin: 30px auto 0 auto;
        position: relative;
        top: 0;
        left: 0;
        font-size: 1.4rem;
        display: none;
        z-index: 1;
}

#clock-box a {
	font-size: 1.4rem;
	text-decoration: none;
}

#clock {
	margin-left: 5px;
}

#clock .digit {
	font-size: 2rem;
}

#canvas {
	display: block;
	width: 100%;
	height: auto;
	max-width: 1100px;
	margin: 0 auto;
}

#error {
	margin: 60px auto 0 auto;
	text-align: center;
	display: none;
}

.hand {
	cursor: pointer;
}

.say {
	display: block;
	margin-left: 5px;
	margin-bottom: 8px;
	word-wrap: break-word;
}

.space {
	display: inline-block;
	width: 40px;
}

@media screen and (max-width: 600px) {
    #code {
        font-size: 1rem;
    }

    #clock-box {
        font-size: 1.2rem;
    }

    #canvas {
        display: none; /* si no se necesita en móvil */
    }
}
